@import 'reset';

$tablet: max-width 1024px;
$mobile: max-width 480px;

@import "bourbon";
@import "neat";

$nav-color: #FC4349;
$nav-text-color: #FFFFFF;
$bg-color: #2C3E50;
$card-color: #ECF0F1;
$header-color: #FC4349;
$text-color: #2C3E50;
$alt-color: #6DBCDB;
$borders: 1px solid darken($card-color, 25%);
$alt-border: 2px solid darken($card-color, 10%);

body {
    background: $bg-color;
    font-family: Heletica, sans-serif;
    color: #FFFFFF;
}

.main {
    padding: 0 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    background: $nav-color;
    overflow: auto;
    padding: 25px 50px;
    color: $nav-text-color;
    margin-bottom: 50px;

    h2 {
        float: left;
        font-weight: bold;
        font-size: 1.8em;

        @include media($mobile) {
            margin-bottom: 20px;
            float: none;
            text-align: center;
        }
    }
    ul {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include media($mobile) {
            position: relative;
            transform: none;
            text-align: center;
        }

        li {
            float: left;
            margin-right: 30px;

            @include media($mobile) {
                float: none;
                text-align: center;
                margin-right: 0;
                margin-bottom: 20px;
                font-size: 1.2em;
            }
        }
    }
}
.container {
    position: relative;
    @include outer-container(980px);
}
.card {
    background: $card-color;
    border-radius: 5px;
    border: $borders;
    padding: 20px;
    color: $text-color;
    margin-bottom: 20px;

    h3 {
        color: $header-color;
        font-size: 1.3em;
        border-bottom: $alt-border;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .venue {
            @include span-columns(10.5);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .fav {
            @include span-columns(1.5);

            .fa-heart:hover {
                color: lighten($header-color, 5%);
            }
        }
    }
    h5 {
        margin: 20px 0;
    }
    p {
        margin-bottom: 20px;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}
.large-card {
    @include span-columns(12);
    background: $card-color;
    border-radius: 5px;
    border: $borders;
    padding: 20px;
    color: $text-color;
    margin-bottom: 20px;

    .left {
        @include span-columns(8);

        @include media($mobile) {
            @include span-columns(12);
            margin-bottom: 30px;
        }

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .logo {
            @include span-columns(12);

            img {
                @include span-columns(4);

                @include media($mobile) {
                    @include span-columns(8);
                    @include shift(2);
                }
            }
        }

        h3 {
            color: $header-color;
            font-size: 1.5em;
            margin-bottom: 20px;
            margin-right: 20px;
            float: left;

            .fav {
                float: right;
                margin-left: 20px;
                font-size: 0.8em;

                .fa-heart:hover {
                    color: lighten($header-color, 5%);
                }
            }
        }
        ul {
            float: left;
            overflow: auto;
            font-size: 1.5em;
            margin-bottom: 20px;
            @include media($mobile) {
                float: none;
                clear: both;
            }
        }

        li {
            float: left;
            margin-left: 20px;

            &:first-of-type {
                margin-left: 0;
            }

            @include media($mobile) {
            }
        }

        p {
            margin-bottom: 20px;
            line-height: 1.2;
            clear: both;
            span {
                font-weight: bold;
            }
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .right {
        @include span-columns(4);
        @include omega();

        @include media($mobile) {
            @include span-columns(12);
            display: inline;
        }

        button {
            float: left;
            padding: 15px;
            background: $alt-color;
            border-radius: 5px;
            outline: none;
            border: none;
            margin-right: 25px;
            font-weight: bold;
        }

        button:hover:first-of-type {
            background: darken($alt-color, 20%);
        }

        .actions {
            @include span-columns(12);
            margin-bottom: 30px;

            button {
                @include span-columns(4);
            }
            a {
                @include omega();

                button {
                    background: $nav-color;
                    color: #FFFFFF;

                    &:hover {
                        background: darken($nav-color, 20%);
                    }
                }
            }
        }
        .generic-actions {
            @include span-columns(12);
            margin-bottom: 30px;

            button {
                @include span-columns(12);
            }
            a:first-of-type {
                @include span-columns(8);
            }
            a:last-of-type {
                @include span-columns(4);
                @include omega();

                button {
                    background: $nav-color;
                    color: #FFFFFF;

                    &:hover {
                        background: darken($nav-color, 20%);
                    }
                }
            }
        }

        h2 {
            line-height: 1.4;
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 20px;
            font-size: 1.2em;
        }
        h4 {
            font-size: 1.5em;
            margin-bottom: 20px;
            padding-bottom: 10px;
            color: $alt-color;
            border-bottom: $alt-border;
        }

        p {
            line-height: 1.2;
        }

        .venue-concerts {
            .concert {
                line-height: 1.4;
                margin-bottom: 20px;
                span {
                    font-weight: bold;
                }
            }
        }
        .details {
            margin-bottom: 20px;
        }
        .posts {
            border-top: $alt-border;
            padding-top: 20px;

            li a {
                color: $alt-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    form {
        padding: 0 20%;
        @include media($mobile) {
            padding: 0 5%;
        }

        label, input, select, textarea {
            @include span-columns(12);
            margin-bottom: 10px;
        }
        input, select, textarea {
            padding: 10px;
            border-radius: 5px;
            border: $borders;
            font-size: 1em;
        }
        button {
            background: $nav-color;
            color: #FFFFFF;
            padding: 15px;
            border-radius: 5px;
            outline: none;
            border: none;
            font-weight: bold;
            float: right;
            width: 100px;

            &:hover {
                background: darken($nav-color, 20%);
            }
        }
    }
    .comments {
        clear: both;
        padding-top: 30px;
    }

    .user {
        h2 {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 20px;
            color: $nav-color;
        }

        h3 {
            margin-bottom: 20px;
            font-size: 1.2em;

            span {
                font-weight: bold;
            }
        }
    }
    .post {
        .post-title {

            h2 {
                color: $header-color;
                font-size: 1.5em;
                margin-bottom: 20px;
                line-height: 1.2;
                font-weight: bold;
            }
            h3 {
                color: $bg-color;
                margin-bottom: 20px;
                font-size: 1em;
                overflow: auto;
                float: left;
                margin-bottom: 20px;
                margin-right: 20px;

                span {
                    font-weight: bold;
                }
            }
        }

        .content {
            border-top: $alt-border;
            padding-top: 20px;
            clear: both;

            p {
                line-height: 1.5;
            }
        }

        .right {
            padding-left: 3%;
            img {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}
.featured, .saved, .faved, .concerts, .venues, .bands, .profile, .blog {
    @include span-columns(12);
    margin-bottom: 50px;
    a {
        @include span-columns(4);
        @include omega(3n);

        @include media($mobile) {
            @include span-columns(10);
            @include shift(1);
        }
    }
    .card {
        min-height: 166px;
    }
    .no-saved-concerts, .add {
        min-height: 166px;
    }
    .add {
        text-align: center;
        position: relative;

        .fa-plus {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .band {
        max-height: 166px;
        overflow: hidden;
    }
}
.header {
    @include span-columns(12);
    color: $alt-color;
    margin-bottom: 25px;

    a {
        padding: 10px;
        float: left;
        margin-right: 25px;
        font-size: 1.5em;

        @include media($mobile) {
            font-size: 1em;
        }

        &:hover {
            color: lighten($alt-color, 20%);
        }
    }

    .active {
        background: $alt-color;
        color: $text-color;
        border-radius: 5px;

        &:hover {
        color: $text-color;
        }
    }
    h3 {
        padding: 10px;
        font-size: 1.2em;
        color: lighten($alt-color, 15%);
    }
    h2 {
        font-size: 1.4em;
    }
}

.links {
    @include span-columns(12);
    overflow: auto;
    margin-bottom: 70px;

    @include media($mobile) {
        width: auto;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }

    h3 {
        float: left;
        padding: 15px;
        color: $text-color;
        background: $alt-color;
        border-radius: 5px;
        margin-right: 25px;

        &:hover {
            background: darken($alt-color, 20%);
        }

    }

    .last {
        margin-right: 0;
    }
}

.read-more {
    background: $alt-color;
    color: $bg-color;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;

    &:hover {
        background: darken($alt-color, 20%);
    }
}
