<div class="bands">
    {{#link-to 'admin.bands.create'}}
        <div class="card add">
            <p>{{fa-icon 'plus'}}</p>
            <p>Add New Band</p>
        </div>
    {{/link-to}}

    {{#each model as |band|}}
    {{#link-to 'admin.bands.edit' band}}
        <div class="card band">
            <h3>{{band.name}}</h3>
            <p>{{band.description}}</p>
        </div>
    {{/link-to}}
    {{/each}}
</div>
