<h4>Log in or {{link-to 'Sign up' 'signup'}}</h4>
<form {{action 'login' email password on='submit'}}>
    <label for="email">Email</label>
    {{input name='email' value=email type='email'}}
    <label for="password">Password</label>
    {{input name='password' value=password type='password'}}

    <button>Log In</button>
</form>
