<ul>
{{#each model as |concert|}}
    <li>
    {{#link-to 'concerts.show' concert}}
    <div class="card">
        {{#each concert.bands as |band|}}<h3>{{band.name}}</h3>{{/each}}
        <h5>{{concert.date}}</h5>
        <h5>{{concert.venue.name}}</h5>
    </div>
    {{/link-to}}
    </li>
{{/each}}
</ul>

{{outlet}}
