<div class="header all-concerts">
    {{#link-to 'concerts'}}<h2>All Concerts</h2>{{/link-to}}
    {{#link-to 'venues'}}<h2 class="last">All Venues</h2>{{/link-to}}
</div>
{{upcoming-concerts concerts=model}}

{{outlet}}
