<nav>
    <div class="container">
    {{#if session.isAuthenticated}}
    {{#link-to 'dashboard'}}<h2>Concert Tracker</h2>{{/link-to}}
    {{else}}
    {{#link-to 'index'}}<h2>Concert Tracker</h2>{{/link-to}}
    {{/if}}
    <ul>
        {{#if session.isAuthenticated}}
        {{#link-to 'profile'}}<li>My Profile</li>{{/link-to}}
        <li> <a href="#" {{action 'invalidateSession'}}>Sign Out</a></li>
        {{else}}
        {{#link-to 'signup'}}<li>Sign Up</li>{{/link-to}}
        {{#link-to 'login'}}<li>Log In</li>{{/link-to}}
        {{/if}}
    </ul>
    </div>
</nav>

<div class="container">
{{outlet}}
</div>
